@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
body {
  margin: 50px 100px;
  font-family: "Lato", sans-serif;
}

.header-logo {
  display: flex;
  justify-content: center;
}
.header-logo img {
  max-width: 280px;
}

.sectionTris {
  display: flex;
}
.sectionTris .encarTri:nth-child(1) .choixTri, .sectionTris .encarTri:nth-child(1) .selectTri {
  background-color: #3282F7;
}
.sectionTris .encarTri:nth-child(2) .choixTri, .sectionTris .encarTri:nth-child(2) .selectTri {
  background-color: #68D9A4;
}
.sectionTris .encarTri:nth-child(3) .choixTri, .sectionTris .encarTri:nth-child(3) .selectTri {
  background-color: #ED6454;
}
.sectionTris .choixTri {
  list-style: none;
  padding: 0;
  column-count: 3;
  color: #ffffff;
  padding: 10px;
  display: none;
}
.sectionTris .choixTri li {
  cursor: pointer;
}
.sectionTris .selectTri {
  position: relative;
  margin-right: 10px;
  width: 180px;
  border-radius: 5px;
}
.sectionTris .selectTri .chevron {
  padding-right: 10px;
  position: absolute;
  right: 0;
  width: 18px;
  top: 15px;
}
.sectionTris .selectTri span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
  margin-left: 10px;
  pointer-events: none;
}
.sectionTris .selectTri input {
  padding-right: 20px;
  border: none;
  padding: 20px;
  color: #ffffff;
  -webkit-appearance: none;
  outline: none !important;
  background: transparent;
  width: 100%;
}
.sectionTris .selectTri input::placeholder {
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
}
.sectionTris .selectTri input:focus {
  width: 30vw;
}
.sectionTris .selectTri.focus {
  width: 40vw;
}
.sectionTris .selectTri.focus .chevron {
  transform: rotate(180deg);
  padding-left: 10px;
}

#choixSelectionne {
  display: flex;
  flex-wrap: wrap;
}
#choixSelectionne div {
  margin-bottom: 20px;
  color: #ffffff;
  margin-right: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
#choixSelectionne div img {
  padding-left: 7px;
}
#choixSelectionne div.ingredient {
  background-color: #3282F7;
}
#choixSelectionne div.appareil {
  background-color: #68D9A4;
}
#choixSelectionne div.ustensile {
  background-color: #ED6454;
}

.form-search {
  margin-bottom: 20px;
  position: relative;
}
.form-search input {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  background-color: #E7E7E7;
  border: none;
  outline: none !important;
}
.form-search .loupe {
  position: absolute;
  right: -20px;
  background: transparent;
  border: none;
  top: 50%;
  transform: translateY(-50%);
}
.form-search .loupe img {
  width: 25px;
}

.recettes {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.recettes .recetteEncart {
  border-radius: 5px;
  width: 380px;
  height: 364px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.recettes .recetteEncart__img {
  background-color: #C7BEBE;
  border-radius: 5px 5px 0 0;
}
.recettes .recetteEncart__txt {
  background-color: #E7E7E7;
  border-radius: 0 0 5px 5px;
  padding: 20px;
}
.recettes .recetteEncart__txt .recetteH {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.recettes .recetteEncart__txt .recetteH__temps {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  min-width: 100px;
}
.recettes .recetteEncart__txt .recetteH__temps img {
  height: 20px;
  width: 20px;
  margin-right: 8px;
}
.recettes .recetteEncart__txt .recetteB {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 12px;
  margin-top: 20px;
  grid-gap: 10px;
}
.recettes .recetteEncart__txt .recetteB__ingredients span {
  font-weight: bold;
}
.recettes .recetteEncart__txt .recetteB__description {
  height: 88px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*# sourceMappingURL=style.css.map */
