
.recettes{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px 20px;
    .recetteEncart{
        border-radius: 5px;
        width: 380px;
        height: 364px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        &__img{
            background-color: $grisFonce;
            border-radius: 5px 5px 0 0;
            min-height: 182px;
        }
        &__txt{
            background-color: $grisClair;
            border-radius: 0 0 5px 5px;
            padding: 20px;
            .recetteH{
                display: flex;
                justify-content: space-between;
                font-size: 18px;
                &__temps{
                    position:relative;
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    min-width: 100px;
                    img{
                      height: 20px;
                      width: 20px;
                      margin-right: 8px;
                    }
                }
            }
            .recetteB{
                display: grid;
                grid-template-columns: 1fr 1fr;
                font-size: 12px;
                margin-top: 20px;
                grid-gap: 10px;
                &__ingredients{
                    span{
                        font-weight: bold;
                    }
                }
                &__description{
                  height: 88px;
                  overflow: hidden;
                  text-overflow: ellipsis; 
                }
            }
        }
    }

}