.recettes {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 50px;
	.recetteEncart {
		border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: $grisClair;
		height: 364px;
		display: grid;
		//grid-template-rows: 1fr 1fr;
    height: 100%;
		&__img {
			// background-color: $grisFonce;
			border-radius: 5px 5px 0 0;
			//min-height: 182px;
      width: 100%;
      img{
        width: 100%;
      }
		}
		&__txt {
			background-color: $grisClair;
			border-radius: 0 0 5px 5px;
			padding: 20px;
			.recetteH {
				display: flex;
				justify-content: space-between;
				font-size: 18px;
				&__temps {
					position: relative;
					display: flex;
					align-items: center;
					justify-content: end;
					min-width: 100px;
					img {
						height: 20px;
						width: 20px;
						margin-right: 8px;
					}
				}
			}
			.recetteB {
				display: grid;
				grid-template-columns: 1fr 1fr;
				font-size: 12px;
				margin-top: 20px;
				grid-gap: 10px;
				&__ingredients {
					span {
						font-weight: bold;
					}
				}
				&__description {
					height: 88px;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}
}
