.form-search{
    margin-bottom: 20px;
    position: relative;
    input{
        width: 100%;
        padding: 15px;
        border-radius: 5px;
        background-color: $grisClair;
        border: none;
        outline: none !important;
    }
    .loupe{
        position: absolute;
        right: -20px;
        background: transparent;
        border: none;
        top: 50%;
        transform: translateY(-50%);
        img{
            width: 25px;
        }
    }
}