.sectionTris{
  display: flex;
    .encarTri{
      &:nth-child(1){
        .choixTri{
          background-color: $bleu;
        }
      }
      &:nth-child(2){
        .choixTri{
          background-color: $vert;
        }
      }
      &:nth-child(3){
        .choixTri{
          background-color: $orange;
        }
      }
    }
    .choixTri{
      list-style: none;
      padding: 0;
      overflow: scroll;
      max-height: 200px;
      column-count: 3;
      color: $blanc;
      padding: 10px;
    }
    .selectTri{
      position: relative;
      margin-right: 10px;
      .chevron{
        position: absolute;
        right: 0;
        width: 18px;
        top: 50%;
        padding-right: 5px;
        transform: translateY(-50%);
      }
      span{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: $blanc;
        margin-left: 10px;
        pointer-events: none;

      }
      input{
          padding-right: 20px;
          border: none;
          border-radius: 5px;
          padding: 15px;
          color: $blanc;
          -webkit-appearance: none;
          outline: none !important;
          &::placeholder{
            color: rgba($blanc, 0.8);
            letter-spacing: 1px;
          }
          &:focus{
            width: 30vw;
          }
          
          &#inputIngredient{
              background-color: $bleu;
          }
          &#inputAppareil{
              background-color: $vert;
          }
          &#inputUstensile{
              background-color: $orange;
          }
      }
    }
}